{% extends 'base.html.twig' %}
{% block body %}
	{% include 'shared/nav.html.twig' %}

	<div class="container">
		<h1 class="text-center">Modifier le Cadeau</h1>
		<div class="row justify-content-center">
			<div class="col-md-6">
				{{ form_start(form) }}
				<div class="mb-3">
					{{ form_label(form.name, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.price, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.link, 'Lien', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
				</div>
				<button type="submit" class="btn btn-primary">Modifier</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
